/*
    Elementos globales 
*/

i {
    font-size: 30px;
}

i:hover {
    color: rgb(15, 157, 34);
}

/*
    Clases
*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item {
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    max-width: 800px;
    height: 500px;

    background-color: #333;
    color: white;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    flex-flow: column;
    transition: 0.5s;

    box-shadow: 0px 0px 10px 2px black;
}

.item:hover {
    scale: 1.02;
}

.space {
    width: 100px;
}

.item img {
    width: 325px;
}


.textitem {
    display: flex;
    flex-direction: column;
}

.iconitem {
    display: flex;

    margin-bottom: 14px;

    justify-content: right;
    text-align: right;
    align-items: right;
}

/*
    Elementos con ID
*/

#iconitem {
    background-color: #c4c4c400;
    border: none;

    width: 60px;
    height: 35px;
}

footer {
    background-color: var(--main-color);
    box-shadow: 0px 0px 10px 2px black;

    padding: 25px;
    width: 100%;

    border-bottom: none;
    border-left: none;
    border-right: none;
    bottom: 0px;

    position: absolute;

    z-index: -1;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

/*
    @Media
*/

@media (max-width: 400px) {
    .content {
        flex-direction: column;
    }

    .item {
        flex: 100%;
        margin: 20px;
    }
}