/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;

    color: #f4f1bb;
}

@font-face {
    font-family: 'RubikMaps';
    src: url('../../assets/fonts/dark-theme/Rubik_Maps/RubikMaps-Regular.ttf') format('truetype');
} 
@font-face {
    font-family: 'ZillaSlab';
    src: url('../../assets/fonts/dark-theme/Zilla_Slab/ZillaSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'amita';
    src: url('../../assets/fonts/dark-theme/amita/Amita-Regular.ttf') format('truetype');
} 
@font-face {
    font-family: 'saint-andrewdes';
    src: url('../../assets/fonts/dark-theme/saint-andrew-des-kiwis/SaintAndrewdesKiwis.ttf') format('truetype');
} 

/* ESTO ES PARA VOS CARLOS */
[tema="light"] {
    --acent-color: #5D737E;
    --main-color: #3F4045;
    --background-color: #30292F;
    --font-color: #FCFCFC;
}

/* ESTO ES PARA MI */
[tema="dark"] {
    --acent-color: #445c74;
    --main-color: #662134;
    --background-color: #10101d;
    --font-color: #FCFCFC;
    --linear-gradient-0:  linear-gradient(var(--main-color),var(--background-color));
    --semi-transparent-for-elegant-titles: rgba(167, 187, 212, 0.808);
    --ilum-color: #ff58a347 ;
}

body {
    background-color: var(--background-color);
}

/* A */
a {
    color: var(--font-color);
    text-decoration: none;
}


/* I */
i {
    font-size: 30px;
}

i:hover {
    color: var(--acent-color);
}



/* HIDDEN GENERAL */
.Hidden {
    display: none;
}

.DontScroll {
    overflow: hidden;
}


/* ID DEL BOTÓN */
#ShowNavBar {
    position: absolute;
    right: 20px;
    margin-right: 20px;

    background-color: transparent;
    border: none;

    width: 60px;
    height: 35px;

    /* arreglado */
    z-index: 10000;
}



/* BARRA DE NAVEGACIÓN */
.NavBar {
    display: flexbox;
    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 10;

    background-color: var(--main-color);
}

.NavBar nav {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.NavBar nav ul {

    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.NavBar nav li {
    border: var(--acent-color) 2px solid;
    padding: 42px 40px;
    margin: 10px;
    border-radius: 4px;
    background-color: var(--background-color);
    align-items: center;
}

[tema="dark"] .NavBar nav li {
    background-color: transparent;
    border-style: none;
    transition: 1s;
}
[tema="dark"] .NavBar nav li:hover {
    background-color: var(--ilum-color);
    box-shadow: 0px 5px 20px 1px var(--background-color);
    scale: 1.1;
}


/* CABEZA */
.Head {
    display: flex;
    box-shadow: 0px 0px 10px 2px black;
    align-items: center;
    height: 100px;
    background-color: var(--main-color);
}

[tema="dark"] .Head {
    background: var(--main-color);
    
}

[tema="dark"] .NavBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(var(--ilum-color), transparent 50%, var(--background-color) 150%, transparent 90%);*/
    pointer-events: none;
}
