@import "global.css";

/* 
    GLOBAL 
*/

h1 {
    color: var(--semi-transparent-for-elegant-titles);
    font-family: amita;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

body {
    display: flex;
}



/*
    Cabecera
*/
.header {
    display: flex;
    position: absolute;

    box-shadow: 0px 0px 10px 2px black;
    align-items: center;
    height: 100vh;
    width: 350px;
    background-color: var(--main-color);
}

/*
    CONTENT LIST [header BAR] 
*/
.content-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-list ul li {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin-left: 50px;
    margin-top: 52px;

    width: 110%;
    height: 70px;

    transition: 0.5s;
    background-color: var(--background-color);
}

.title {
    display: block;

    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;

    margin-top: 160px;
    margin-left: 700px;
}

.paper img{
    display: flex;

    height: 500px;

    margin-top: 100px;
}

/*
    Light theme
*/
[tema="light"] .content-list {
    border-color: transparent;
}

[tema="light"] .content-list ul li {
    width: 230px;
    height: 70px;

    border-style: solid;
    border: 1px;
    border-radius: 10px;
    border-color: var(--border-color);

    padding: 1px;

    justify-content: center;
    align-items: center;
}

[tema="light"] .content-list ul li:hover {
    background-color: var(--ilum-color);
    scale: 1.1;
}

/* 
    Dark theme 
*/

[teme="dark"] .content-list {
    border: 2px;
    border-style: solid;
    border-color: var(--ilum-color);
}

[tema="dark"] .content-list ul li {
    border: 2px;
    border-color: var(--main-color);
    border-style: solid;
}

[tema="dark"] .content-list ul li:hover {
    background-color: var(--ilum-color);
    scale: 1.1;
}

/*
    Elementos ID
*/

#switch {
    margin-left: 22px;
}