@import 'global.css';


/* PIÉ DE PÁGINA */
footer {
    text-align: center;
    padding: 20px;

    border-style: solid;
    width: 100%;

    border-bottom: none;
    border-left: none;
    border-right: none;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

h1 {
    color: var(--semi-transparent-for-elegant-titles);
    font-family: amita;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}
