@import "global.css";

/* GLOBAL */
/*------------------------------------------*/

.bar {
    display: flex;
    box-shadow: 0px 0px 10px 2px black;
    align-items: center;
    height: 100px;
    background-color: var(--main-color);

    padding: 22px;
}

footer {
    background-color: var(--main-color);
    box-shadow: 0px 0px 10px 2px black;

    padding: 25px;
    width: 100%;

    border-bottom: none;
    border-left: none;
    border-right: none;
    bottom: 0px;

    position: absolute;

    z-index: -1;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#switch {
    margin-left: 22px;
}

h1 {
    color: var(--semi-transparent-for-elegant-titles);
    font-family: amita;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/*------------------------------------------*/

/* CONTENT LIST [HEAD BAR] */
/*------------------------------------------*/
.content-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-list ul li {
    display: inline-flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 100px;

    transition: 0.5s;
    background-color: var(--background-color);
}
/*------------------------------------------*/

/* CARLOS */
/*------------------------------------------*/
[tema="light"] .content-list {
    border-color: transparent;
}

[tema="light"] .content-list ul li {
    width: 230px;
    height: 70px;

    border-style: solid;
    border: 4px;
    border-radius: 10px;
    border-color: var(--border-color);

    justify-content: center;
    align-items: center;
}

[tema="light"] .content-list ul li:hover {
    background-color: var(--ilum-color);
    scale: 1.1;
}
/*------------------------------------------*/

/* MATIAS */
/*------------------------------------------*/
[teme="dark"] .content-list {
    border: 2px;
    border-style: solid;
    border-color: var(--ilum-color);
}

[tema="dark"] .content-list ul li {
    border: 2px;
    border-color: var(--main-color);
    border-style: solid;
}
[tema="dark"] .content-list ul li:hover {
    background-color: var(--ilum-color);
    scale: 1.1;
}
/*------------------------------------------*/
